// Bootstrap compatible gutter variable => $gutter

$grid-gutter-width: 24px;
$gutter: $grid-gutter-width;

// Bootstrap compatible gutter variable => $gutter

// user variables

$accent: #022EA9;; // Accent Color
$accentHover:  #fd5a17; // Accent Color
$fontSize: 16px; // Body Font Size
$textColor: #000; // Text Color
$textErrorColor: #db422c ;// Text error color
$bgErrorColor: #ffeaea; // Error text color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: 'Roboto', sans-serif; // Roboto Font Family

$xxxl: 1600;
$xxl: 1400;
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;
$xs: 480;

// user variables